In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

## Interest Rate

### Import

In [2]:
train = pd.read_csv('loan_data_train.csv')
test = pd.read_csv('loan_data_test.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
ID                                2199 non-null float64
Amount.Requested                  2199 non-null object
Amount.Funded.By.Investors        2199 non-null object
Interest.Rate                     2200 non-null object
Loan.Length                       2199 non-null object
Loan.Purpose                      2199 non-null object
Debt.To.Income.Ratio              2199 non-null object
State                             2199 non-null object
Home.Ownership                    2199 non-null object
Monthly.Income                    2197 non-null float64
FICO.Range                        2200 non-null object
Open.CREDIT.Lines                 2196 non-null object
Revolving.CREDIT.Balance          2197 non-null object
Inquiries.in.the.Last.6.Months    2197 non-null float64
Employment.Length                 2131 non-null object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
ID                                300 non-null int64
Amount.Requested                  300 non-null int64
Amount.Funded.By.Investors        300 non-null object
Loan.Length                       300 non-null object
Loan.Purpose                      300 non-null object
Debt.To.Income.Ratio              300 non-null object
State                             300 non-null object
Home.Ownership                    300 non-null object
Monthly.Income                    300 non-null float64
FICO.Range                        300 non-null object
Open.CREDIT.Lines                 300 non-null object
Revolving.CREDIT.Balance          300 non-null int64
Inquiries.in.the.Last.6.Months    300 non-null int64
Employment.Length                 291 non-null object
dtypes: float64(1), int64(4), object(9)
memory usage: 32.9+ KB

### Data Cleaning

- we should combine train and test data sets, and then clean them together
- we will need to split it back into train and test afterwards so add column indicating 'DataType' = train/test
- also, test data set does not have interest.rate column so we need to add that as well and assign them to null values

In [5]:
train['DataType'] = 'train'
test['DataType'] = 'test'
test['Interest.Rate'] = np.nan

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 16 columns):
ID                                2199 non-null float64
Amount.Requested                  2199 non-null object
Amount.Funded.By.Investors        2199 non-null object
Interest.Rate                     2200 non-null object
Loan.Length                       2199 non-null object
Loan.Purpose                      2199 non-null object
Debt.To.Income.Ratio              2199 non-null object
State                             2199 non-null object
Home.Ownership                    2199 non-null object
Monthly.Income                    2197 non-null float64
FICO.Range                        2200 non-null object
Open.CREDIT.Lines                 2196 non-null object
Revolving.CREDIT.Balance          2197 non-null object
Inquiries.in.the.Last.6.Months    2197 non-null float64
Employment.Length                 2131 non-null object
DataType                          2200 non-null object
dtypes: float64(3), object(13)
memory usage: 275.1+ KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
ID                                300 non-null int64
Amount.Requested                  300 non-null int64
Amount.Funded.By.Investors        300 non-null object
Loan.Length                       300 non-null object
Loan.Purpose                      300 non-null object
Debt.To.Income.Ratio              300 non-null object
State                             300 non-null object
Home.Ownership                    300 non-null object
Monthly.Income                    300 non-null float64
FICO.Range                        300 non-null object
Open.CREDIT.Lines                 300 non-null object
Revolving.CREDIT.Balance          300 non-null int64
Inquiries.in.the.Last.6.Months    300 non-null int64
Employment.Length                 291 non-null object
DataType                          300 non-null object
Interest.Rate                     0 non-null float64
dtypes: float64(2), int64(4), object(10)
memory usage: 37.6+ KB

In [8]:
df = pd.concat([train,test],sort=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 16 columns):
ID                                2499 non-null float64
Amount.Requested                  2499 non-null object
Amount.Funded.By.Investors        2499 non-null object
Interest.Rate                     2200 non-null object
Loan.Length                       2499 non-null object
Loan.Purpose                      2499 non-null object
Debt.To.Income.Ratio              2499 non-null object
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
FICO.Range                        2500 non-null object
Open.CREDIT.Lines                 2496 non-null object
Revolving.CREDIT.Balance          2497 non-null object
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2422 non-null object
DataType                          2500 non-null object
dtypes: float64(3), object(13)
memory usage: 332.0+ KB

In [9]:
df.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,DataType
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

- drop ID and Amount Funded columns (Amount Funded is a future variable; it does not determine interest rate)
- Amount requested - convert to numeric type; any non-numeric values assign NaN
- Interest Rate - remove % sign at end and convert to numeric
- Debt to Income Ratio - remove % sign at end and convert to numeric
- FICO Range - get min,max of range and take average
- Open Credit Lines - convert to numeric type
- Revolving Credit Balance - convert to numeric type
- Employment Length - remove all 'years'/'year'/'<'/'+'/'.' and convert to numeric

In [10]:
df.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [11]:
df['Amount.Requested'] = pd.to_numeric(df['Amount.Requested'],errors='coerce')

In [12]:
df['Interest.Rate'] = df['Interest.Rate'].str.replace('%','').astype(float)

In [13]:
df['Debt.To.Income.Ratio'] = df['Debt.To.Income.Ratio'].str.replace('%','').astype(float)

In [14]:
k = df['FICO.Range'].str.split('-',expand=True).astype(float)
df['FICO'] = (k[0]+k[1])/2
df.drop(['FICO.Range'],axis=1,inplace=True)

In [15]:
df['Open.CREDIT.Lines'] = pd.to_numeric(df['Open.CREDIT.Lines'],errors='coerce')

In [16]:
df['Revolving.CREDIT.Balance'] = pd.to_numeric(df['Revolving.CREDIT.Balance'],errors='coerce')

In [17]:
df['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [18]:
df['Employment.Length'] = df['Employment.Length'].str.replace(' years','')
df['Employment.Length'] = df['Employment.Length'].str.replace(' year','')
df['Employment.Length'] = df['Employment.Length'].str.replace('+','')
df['Employment.Length'] = df['Employment.Length'].str.replace('< ','')
df['Employment.Length'] = df['Employment.Length'].str.replace('.','')
df['Employment.Length'] = pd.to_numeric(df['Employment.Length'],errors='coerce')

In [19]:
df['Employment.Length'].value_counts()

10.0    653
1.0     426
2.0     243
3.0     235
5.0     202
4.0     191
6.0     163
7.0     127
8.0     108
9.0      72
Name: Employment.Length, dtype: int64

- Perform Dummification on remaining categorical columns

### Dummification of Categorical variables

In [20]:
cat_cols = df.select_dtypes(['object']).columns
cat_cols = cat_cols[:-1]
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

> k = freqs[freqs>threshold].index[:-1]

Here, we shouldn't do **[:-1]** since this would mean it categorizes this with those variables that has frequency less than threshold.  
Instead, we should run wihtout **[-1]**

In [21]:
# Dummification of Categorical Variables
threshold = 20                     # threshold frequency to consider for dummification
for col in cat_cols:               # for all categorical columns
    freqs = df[col].value_counts()   
    k = freqs[freqs>threshold].index[:-1]   # consider only those values whose frequency is above threshold
    for cat in k:                           # for each categorical variable
        name = col + '_' + cat              # unique name
        df[name] = (df[col]==cat).astype(int)  # create new column for that category
    del df[col]                            # delete original column
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [22]:
df.shape

(2500, 51)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 51 columns):
Amount.Requested                   2495 non-null float64
Interest.Rate                      2200 non-null float64
Debt.To.Income.Ratio               2499 non-null float64
Monthly.Income                     2497 non-null float64
Open.CREDIT.Lines                  2491 non-null float64
Revolving.CREDIT.Balance           2495 non-null float64
Inquiries.in.the.Last.6.Months     2497 non-null float64
Employment.Length                  2420 non-null float64
DataType                           2500 non-null object
FICO                               2500 non-null float64
Loan.Length_36 months              2500 non-null int32
Loan.Purpose_debt_consolidation    2500 non-null int32
Loan.Purpose_credit_card           2500 non-null int32
Loan.Purpose_other                 2500 non-null int32
Loan.Purpose_home_improvement      2500 non-null int32
Loan.Purpose_major_purchase        2500 non-null int32
Loan.Purpose_small_business        2500 non-null int32
Loan.Purpose_car                   2500 non-null int32
Loan.Purpose_wedding               2500 non-null int32
Loan.Purpose_medical               2500 non-null int32
Loan.Purpose_moving                2500 non-null int32
State_CA                           2500 non-null int32
State_NY                           2500 non-null int32
State_TX                           2500 non-null int32
State_FL                           2500 non-null int32
State_IL                           2500 non-null int32
State_GA                           2500 non-null int32
State_PA                           2500 non-null int32
State_NJ                           2500 non-null int32
State_VA                           2500 non-null int32
State_MA                           2500 non-null int32
State_OH                           2500 non-null int32
State_MD                           2500 non-null int32
State_NC                           2500 non-null int32
State_CO                           2500 non-null int32
State_WA                           2500 non-null int32
State_CT                           2500 non-null int32
State_AZ                           2500 non-null int32
State_MI                           2500 non-null int32
State_MN                           2500 non-null int32
State_AL                           2500 non-null int32
State_MO                           2500 non-null int32
State_NV                           2500 non-null int32
State_OR                           2500 non-null int32
State_SC                           2500 non-null int32
State_WI                           2500 non-null int32
State_KY                           2500 non-null int32
State_LA                           2500 non-null int32
State_KS                           2500 non-null int32
Home.Ownership_MORTGAGE            2500 non-null int32
Home.Ownership_RENT                2500 non-null int32
dtypes: float64(9), int32(41), object(1)
memory usage: 615.2+ KB

In [24]:
df.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
DataType                             0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

### Imputing Missing Values

In [25]:
for col in df.columns:                                                                   # for each column
    if (col not in ['Interest.Rate','DataType']) & (df[col].isnull().sum()>0):           # if not interest rate ot data type and null values exist
        df.loc[df[col].isnull(),col] = df.loc[df['DataType']=='train',col].mean()        # replace null values with mean of all training data values

In [26]:
df.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
DataType                             0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

Split DataFrame back into train and test:

In [27]:
train = df[df['DataType'] == 'train']
train.drop(['DataType'],axis=1,inplace=True)
test = df[df['DataType'] == 'test']
test.drop(['DataType','Interest.Rate'],axis=1,inplace=True)
del df

C:\Users\mohit\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

### Linear Regression

Split train dataset into train and validate datasets:

In [28]:
from sklearn.model_selection import train_test_split
train1,validate = train_test_split(train,test_size=0.2,random_state=2)

In [29]:
x_train1 = train1.drop('Interest.Rate',axis=1)
y_train1 = train1['Interest.Rate']

In [30]:
x_train1.shape

(1760, 49)

In [31]:
from sklearn.preprocessing import scale
x_train1_scaled = scale(x_train1)

C:\Users\mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by the scale function.

Build Regression model on train dataset:

In [32]:
from sklearn.linear_model import LinearRegression
lm1 = LinearRegression()
lm1.fit(x_train1_scaled,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [33]:
lm1.intercept_

13.11028409090909

In [34]:
list(zip(x_train1.columns,lm1.coef_))

[('Amount.Requested', 1.2412823100498058),
 ('Debt.To.Income.Ratio', -0.02934993084458956),
 ('Monthly.Income', -0.11367740251339292),
 ('Open.CREDIT.Lines', -0.17974272069177563),
 ('Revolving.CREDIT.Balance', -0.07340992347361104),
 ('Inquiries.in.the.Last.6.Months', 0.41807116721087),
 ('Employment.Length', 0.12426329262744062),
 ('FICO', -3.0826371641341477),
 ('Loan.Length_36 months', -1.2965703236855517),
 ('Loan.Purpose_debt_consolidation', -0.2338934351603894),
 ('Loan.Purpose_credit_card', -0.23018843939378297),
 ('Loan.Purpose_other', 0.11873687058019135),
 ('Loan.Purpose_home_improvement', -0.08798256518316994),
 ('Loan.Purpose_major_purchase', -0.018202014151089074),
 ('Loan.Purpose_small_business', 0.012859186498847097),
 ('Loan.Purpose_car', 0.0031623601053895056),
 ('Loan.Purpose_wedding', -0.10204736200866393),
 ('Loan.Purpose_medical', -0.04533498442400785),
 ('Loan.Purpose_moving', 0.13919333909181386),
 ('State_CA', -0.07806101292421919),
 ('State_NY', -0.03906872287483576),
 ('State_TX', 0.11639441508504322),
 ('State_FL', 0.02144479058704163),
 ('State_IL', -0.1288400361637132),
 ('State_GA', -0.005144414350984561),
 ('State_PA', -0.10754719380651648),
 ('State_NJ', -0.08093405637068903),
 ('State_VA', -0.0345425454068492),
 ('State_MA', 0.01537250892652578),
 ('State_OH', -0.05897841144632776),
 ('State_MD', -0.0025737299969405963),
 ('State_NC', -0.049134641398936196),
 ('State_CO', -0.00883738914129864),
 ('State_WA', -0.038063211835181396),
 ('State_CT', 0.05832665554376035),
 ('State_AZ', 0.03466065528567161),
 ('State_MI', -0.021151095892245425),
 ('State_MN', -0.009237207406286863),
 ('State_AL', -0.04164821781297384),
 ('State_MO', -0.05161106462524312),
 ('State_NV', -0.013916583067837662),
 ('State_OR', 0.01408119753229653),
 ('State_SC', 0.002691447376854228),
 ('State_WI', -0.017004904116065846),
 ('State_KY', 0.02490624438941208),
 ('State_LA', -0.004366205919062061),
 ('State_KS', 0.024944249083797276),
 ('Home.Ownership_MORTGAGE', -0.24573738227234343),
 ('Home.Ownership_RENT', -0.11397189410590647)]

In [35]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = lm1.predict(x_train1_scaled)
print('Training Accuracy:')
print('MSE =',mean_squared_error(y_pred,y_train1))
print('R^2 =',r2_score(y_pred,y_train1))

Training Accuracy:
MSE = 4.118615454703139
R^2 = 0.6904918191259801

Evaluate model with validate dataset:

In [36]:
x_val = validate.drop('Interest.Rate',axis=1)
y_val = validate['Interest.Rate']
x_val_scaled = scale(x_val)
y_pred = lm1.predict(x_val_scaled)
print('Test Accuracy:')
print('MSE =',mean_squared_error(y_pred,y_val))
print('R^2 =',r2_score(y_pred,y_val))

Test Accuracy:
MSE = 4.249401069122784
R^2 = 0.6954509084963858

C:\Users\mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until

Once we are satidifed with our model, we build a new model on ALL training data and predict interst arte for test data.

In [37]:
x_train = train.drop('Interest.Rate',axis=1)
y_train = train['Interest.Rate']
x_train_scaled = scale(x_train)
lm2 = LinearRegression()
lm2.fit(x_train_scaled,y_train)

C:\Users\mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [38]:
y_pred = lm2.predict(x_train_scaled)
print('Training Accuracy:')
print('MSE =',mean_squared_error(y_pred,y_train))
print('R^2 =',r2_score(y_pred,y_train))

Training Accuracy:
MSE = 4.105637011197528
R^2 = 0.6913818651793673

In [39]:
test_scaled = scale(test)
lm_pred = lm2.predict(test_scaled)
lm_pred

C:\Users\mohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by the scale function.
  """Entry point for launching an IPython kernel.

array([16.39696247, 15.76974097, 10.20251785,  3.12300054, 15.18859855,
        6.59085469, 15.6258013 , 10.56292366, 15.87652998, 12.3196074 ,
        9.38097087, 14.84614932, 11.18832843, 13.66830424, 13.43177155,
       18.24105837, 10.01560129, 15.91634568, 13.75428443, 13.87010929,
       22.62008547, 17.46614603, 11.66336396, 14.86125109,  9.46058821,
       10.98110732, 13.07323815, 19.4806412 , 11.97650696, 16.59332702,
       15.00975322, 15.39868655, 12.23016814, 15.24680989, 13.61339806,
       14.18668515, 19.45686439, 10.98710449, 11.73933849, 16.77492664,
       14.10528086, 10.96641054, 14.60145911, 13.01151919, 15.65854861,
       17.09720824, 14.6976251 , 17.06813587, 16.76001187, 10.1276804 ,
       13.65394029, 19.78261501,  9.38132006, 19.72228401, 15.34410921,
       14.58642542, 17.48909144, 14.40332416, 10.78918852, 14.32469732,
       13.04025006, 16.91782098,  8.52344146, 14.47339631, 10.17113064,
       11.29301742, 12.75007268, 14.72754415, 11.58844953, 14.54975238,
       14.37189599, 17.61103526, 20.75326005, 19.59121128, 13.30976524,
       16.8993978 , 10.8608652 ,  9.61653217, 16.49295395,  6.13231621,
       16.22343317, 10.05857691,  9.22139564, 12.94568273, 13.91297688,
        8.94432263,  9.0378917 , 13.83035144,  8.19821682, 11.59108389,
       12.15092749, 16.74869158, 13.58028804, 17.73150492, 13.81810138,
       10.21160933,  9.94393451, 16.94508829, 16.80923547, 13.72545027,
       15.13739838, 13.38217743, 15.15288813, 14.64989853, 13.09169474,
       12.11461097,  8.49589213, 11.67958422, 10.5700325 , 13.67504836,
       11.29217332, 20.0704157 ,  7.17758957, 16.68362604, 15.57979965,
        6.09806838, 13.26024971, 14.34461165, 14.88507404,  8.87074873,
       15.92527929, 14.36734974,  8.75424074, 12.82605878, 17.49050131,
       16.11329871,  7.94682848, 18.45231134,  2.74024249, 12.09413348,
       13.70908414, 12.90058453,  9.65071827, 14.14174921, 18.68120223,
       14.16064506, 15.25638211, 13.32215066, 12.79224667,  9.27702399,
       14.08862119, 14.31759371, 11.53883103, 11.39149696, 11.51163692,
       16.96910822, 11.93912272, 10.3018735 ,  7.45342737,  9.86429457,
       11.36408925, 13.87617516,  9.94563898,  7.04043769, 13.97380177,
       11.97457065, 10.91127599,  7.63184549, 14.25626631, 14.68200183,
       14.07938354,  6.69141988, 15.15412228, 17.84159284, 15.03439935,
       16.04035488, 14.72217212,  9.80414684, 13.58074056, 16.7245991 ,
       14.56559153, 12.78487727,  6.07573402, 13.35011267, 10.13400114,
       10.18565001, 10.90568193,  8.35833419,  9.26090372, 11.42511249,
       12.81126191, 14.1437428 , 10.26903111, 13.04098436, 10.28652161,
       13.77502196,  8.09212564, 17.70514686, 13.63304788,  9.22811725,
        7.37856263, 11.32321831, 16.08357007, 15.48967204, 14.92005966,
       17.78587158,  8.91077207, 18.8446066 ,  4.34319133, 13.92813634,
       14.43092076, 12.31028431, 17.87449699, 16.68099334,  4.18724352,
       15.64709036, 15.37708375, 19.6542858 , 16.1966546 ,  8.50123399,
       14.77455442, 11.4464246 , 12.01045511, 14.44741314, 10.29088993,
       12.18162016, 13.19304757, 20.67953662, 13.6054928 ,  5.81131765,
        5.04496276,  9.21231523, 18.01493764, 11.22548512, 15.96335688,
       14.6465751 , 11.23690662, 11.49084608, 12.55021754, 10.48723809,
       11.52618062, 14.77042299, 12.54150126, 15.88412451,  7.1752702 ,
       11.31942928, 13.19367159, 10.12214147,  4.3335388 , 19.87287621,
       14.18504627, 19.88708818,  7.21324503, 20.83385599, 12.65737827,
       12.09040406, 20.09647297,  8.66847414,  7.31312813, 12.83059815,
       16.11843287, 14.95760253, 10.54502758, 13.93229194, 15.22505308,
       18.71185918, 11.1803544 ,  7.58387315, 12.57048662, 18.04593079,
       16.48624809, 13.42169496, 18.42196737,  7.13331376, 19.99356437,
        8.36763952, 15.74910236, 10.65787265,  4.01027886, 14.93026316,
       13.49454533, 12.71838748,  6.31650868, 10.27475735,  9.59184379,
        6.08385733, 14.18371093, 13.88590861, 10.6787635 , 14.65133147,
       17.21488697, 20.2864518 , 16.31409667, 14.31993332, 16.3410007 ,
        7.81038645, 12.67271476, 13.37409511, 10.80717446, 11.79114897,
       14.46899039,  9.59112695, 14.53889248,  9.33082004,  6.70575459,
       15.51891112, 11.07096616, 14.47537704, 17.82945108, 13.0715617 ])

### Ridge Regression

In [40]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

GridSearchCV will help choose the best model by running regression for different values of hyper parameters and evaluate them based on some score

In [41]:
lambdas = np.linspace(1,100,100)
params = {'alpha':lambdas}              # list of alpha values to run ridge regression on 
model = Ridge(fit_intercept=True)
grid_search = GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([  1.,   2., ...,  99., 100.])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [42]:
ridge_model = grid_search.best_estimator_
ridge_model

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

alpha = 34 gives the best model in terms of the neg_mean_absolute_error
build model with this value

In [43]:
ridge_pred = ridge_model.predict(test)
ridge_pred

array([15.75109565, 15.73010357, 10.14468459,  3.76958704, 15.19390662,
        7.1421839 , 15.53643384, 10.70257787, 15.31068037, 12.45037898,
       10.15286276, 15.27174052, 11.60825381, 13.67420137, 13.53345   ,
       18.17300231, 10.37918668, 15.79829125, 13.9607565 , 13.97851011,
       22.22973825, 17.36171244, 12.24694189, 14.90709652,  9.7564946 ,
       10.97897394, 13.1195306 , 19.34856488, 12.1557721 , 16.95856414,
       15.04012954, 15.42790216, 12.46104363, 14.87180327, 13.82935252,
       14.34132999, 19.36051318, 11.22211157, 11.93499515, 16.70338878,
       14.23265138, 11.26540904, 14.75495475, 13.25109647, 15.81460511,
       17.1526763 , 14.80002671, 17.04446679, 16.7530149 , 10.50895687,
       13.70746069, 19.65219078,  9.63864676, 19.53910361, 15.48829399,
       14.71840365, 17.50453102, 14.55799173, 10.99136203, 14.7275581 ,
       13.26303071, 16.93513707,  8.88369672, 14.67281728, 10.58491918,
       11.50670557, 12.99165982, 14.72452426, 11.75041837, 14.55847203,
       14.44175729, 17.62694157, 20.3973319 , 19.49631869, 13.33078051,
       16.78953739, 11.34869139, 10.0647794 , 16.42230691,  6.57097408,
       16.20482195, 10.44532428,  9.59557905, 13.08550571, 14.04308357,
        9.64620056,  9.2764592 , 14.14351289,  8.56102074, 11.77918168,
       12.37365035, 16.64072921, 13.52726716, 17.72355326, 13.98966287,
       10.42235415,  9.89274666, 16.98696568, 16.72010127, 13.75423097,
       15.06861296, 13.54438501, 15.22551253, 14.67921881, 13.09489805,
       12.37056719,  8.88776612, 11.8584973 , 10.93334298, 13.49276691,
       11.44694519, 20.14469981,  7.63045014, 16.63187873, 15.50124317,
        6.66920763, 13.41069995, 14.31246713, 14.72440608,  9.45576028,
       16.16542875, 14.3338063 ,  9.09166667, 12.95285682, 17.32236383,
       15.96450347,  8.51429102, 18.53325195,  3.0551087 , 12.30311547,
       13.95330174, 12.99601827,  9.9990149 , 14.16937957, 18.64819299,
       14.20936711, 15.40265736, 13.45398988, 12.84981509,  9.49410953,
       14.19081092, 14.46433213, 11.77288486, 11.66669092, 11.82550539,
       16.93543581, 12.05313507, 10.54359684,  7.80911698, 10.30421239,
       11.47849889, 13.87003522, 10.37762974,  7.43024547, 14.0705435 ,
       12.16880002, 11.28277611,  8.08605371, 14.29733708, 14.80132469,
       14.17121051,  7.17492208, 15.16521756, 17.84293184, 15.08396599,
       16.09256355, 14.64266307, 10.15490646, 13.69638238, 16.75097179,
       14.60010699, 13.06473383,  6.71816282, 13.46629136, 10.3489809 ,
       10.47913025, 11.27265452,  8.64480731,  9.63589688, 11.72281437,
       13.0113467 , 14.21861603, 10.48094605, 13.54008442, 10.50112102,
       14.13842087,  7.87411424, 17.63082293, 13.71126088,  9.5504744 ,
        7.71072648, 11.41598572, 15.99350033, 15.61406346, 15.05029846,
       17.61438596,  8.92963997, 18.81077029,  5.06061429, 13.87883852,
       14.51315368, 12.59460597, 17.60188212, 16.61700498,  4.82082737,
       15.6142154 , 15.35241932, 19.64669121, 16.42663176,  8.85109971,
       14.63759881, 11.06160564, 12.22552778, 14.49264172, 10.62951355,
       12.37776843, 13.3927441 , 20.41592342, 13.85370731,  6.39470229,
        5.70847031,  9.64417946, 17.95188883, 11.56755029, 15.8429315 ,
       14.7095471 , 11.57331748, 11.63768485, 12.69376264, 10.86443085,
       11.72851555, 14.89917966, 12.69131458, 15.89590188,  7.69258642,
       11.15298026, 13.40073497, 10.55677558,  4.99631395, 19.28604744,
       14.27222567, 19.59387761,  7.58488877, 20.37752845, 12.73971569,
       12.31600668, 19.49867158,  8.94002714,  7.84539011, 13.16126053,
       16.18114217, 15.13717143, 10.83623713, 14.05678649, 15.20030854,
       18.75839021, 11.52730183,  8.01534151, 12.74669597, 17.91385271,
       16.61178822, 13.46740247, 18.23438855,  7.71593792, 19.75932573,
        8.71611317, 15.74435157, 10.84679153,  4.5660639 , 14.94491895,
       13.52846786, 12.8891844 ,  6.9206421 , 10.921153  ,  9.99743955,
        6.59457847, 14.21880584, 13.95742786, 11.03191622, 14.69934529,
       17.38173312, 20.04921361, 16.44591291, 14.24852131, 15.83445679,
        8.24701692, 12.84471363, 13.54662789, 11.06073366, 11.8565999 ,
       14.40268725,  9.83671817, 14.6015027 ,  9.43749946,  7.24679674,
       15.7179182 , 11.14707853, 14.56394097, 17.66652753, 13.21453872])

### Lasso Regression

In [44]:
lambdas = np.linspace(1,10,100)
model = Lasso(fit_intercept=True)
params = {'alpha':lambdas}
grid_search = GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([ 1.     ,  1.09091, ...,  9.90909, 10.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [45]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

since alpha is at one extreme of our range, we should fine tune our lambdas and run again

In [46]:
lambdas = np.linspace(0.001,2,100)
params = {'alpha':lambdas}
model = Lasso(fit_intercept=True)
grid_search = GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([1.00000e-03, 2.11919e-02, ..., 1.97981e+00, 2.00000e+00])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [50]:
lasso_model = grid_search.best_estimator_
lasso_model

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
   max_iter=1000, normalize=False, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [53]:
lasso_pred = lasso_model.predict(test)
lasso_pred

array([15.36032328, 15.88916291, 10.26112365,  3.8308861 , 15.30546576,
        7.41199396, 15.89833883, 10.49052758, 14.66072998, 12.27577655,
       10.20957297, 15.43644094, 11.76009898, 13.52473623, 13.641083  ,
       18.16708402, 10.25105383, 15.56859926, 14.01395419, 14.10537963,
       22.17721279, 17.83721311, 12.2742275 , 14.90928494,  9.7690368 ,
       10.70677987, 13.06113527, 19.58077172, 12.39541509, 17.03788943,
       15.30725766, 15.46604565, 12.5958439 , 14.69286867, 13.56654966,
       14.33417   , 19.36462143, 11.12257013, 11.77487522, 16.60520708,
       14.28329616, 11.45380944, 14.69504677, 13.21462305, 16.04954711,
       16.99122131, 15.30819439, 16.76555313, 16.87784164, 10.6079011 ,
       13.73995017, 19.70251362,  9.52890554, 19.6061302 , 15.40359972,
       14.84705631, 17.9131928 , 14.87009174, 10.86985434, 15.04398748,
       13.33618298, 17.02194353,  8.8977951 , 14.57446613, 10.26899544,
       11.49567077, 12.94188894, 14.88460125, 11.73323675, 14.60499849,
       14.52426406, 17.57010714, 20.30490677, 19.67159388, 13.227468  ,
       16.92531756, 11.15689699, 10.22306558, 16.75990991,  6.71975028,
       16.30046872, 10.43523733,  9.49037475, 13.1890712 , 13.82757065,
        9.86593754,  9.1616104 , 14.37834622,  8.60310173, 11.58839752,
       12.34378149, 16.53692067, 13.46777697, 17.80643048, 13.92868476,
       10.4933567 ,  9.79824677, 17.05251762, 16.78861615, 13.54924292,
       15.36518001, 13.60437115, 15.01380024, 14.8994902 , 12.92593019,
       12.09602082,  8.77416455, 11.65805669, 10.97411814, 13.40309463,
       11.8239171 , 20.4790996 ,  7.80164609, 16.85832394, 15.28240727,
        6.51998334, 13.52039684, 14.35034208, 14.82397346,  9.71230737,
       16.08376961, 14.20123168,  9.17434259, 12.77101626, 16.93929677,
       15.92530426,  8.52550287, 18.91720396,  2.89562132, 12.34883803,
       14.2166716 , 12.7362325 ,  9.71719544, 14.14794613, 18.72699768,
       14.32178219, 15.45954474, 13.53096968, 12.54583009,  9.52065892,
       14.25599165, 14.15514516, 11.83726516, 11.8496679 , 11.74179069,
       16.72132367, 12.00566317, 10.40886791,  7.85658201, 10.21700027,
       11.44426971, 13.76719116, 10.20146018,  7.4753348 , 14.15721524,
       12.07866672, 11.3662215 ,  8.3291197 , 14.52616175, 14.81693851,
       14.18364446,  7.30083413, 15.13361216, 17.94888925, 15.25193023,
       16.05300921, 14.32267395, 10.06484297, 13.80669151, 16.77443314,
       14.3643654 , 13.03584047,  6.88900644, 13.77016311, 10.32825768,
       10.38543856, 11.43456177,  8.63817386,  9.37440595, 11.68091893,
       13.362708  , 14.29872246, 10.56718209, 13.99173282, 10.39197861,
       14.13222555,  7.20150681, 17.65776882, 13.827591  ,  9.58924923,
        7.57383218, 11.14795129, 15.78953859, 15.68444735, 14.80918751,
       17.36363875,  9.1031161 , 18.9509681 ,  5.13268974, 13.8959055 ,
       14.22817162, 12.62535486, 17.44049497, 16.31095742,  4.93673146,
       15.59451942, 15.19298011, 19.98306825, 16.05445585,  8.93420284,
       14.47636953, 10.4614617 , 12.39313323, 14.33872592, 10.75606633,
       12.43524138, 13.46143256, 20.34521527, 13.58226176,  6.41072764,
        5.37317225,  9.98444299, 17.7025874 , 11.64167754, 15.58104126,
       14.784075  , 11.35349283, 11.51321221, 13.03334541, 10.79783629,
       11.84665457, 14.69308046, 12.52235452, 15.84385198,  7.72713762,
       10.86078731, 13.56926927, 10.37632278,  5.20448865, 19.29609626,
       14.34387505, 19.62447524,  7.79213671, 20.22393809, 12.42782675,
       12.38166353, 19.52247312,  9.1685944 ,  7.94569507, 13.47723419,
       16.11090193, 15.21301246, 10.9418597 , 14.03252193, 15.13980167,
       18.81493761, 11.50736445,  8.08007235, 12.87239064, 18.05016734,
       16.94308653, 13.45917732, 18.3877887 ,  7.80960723, 19.98813544,
        8.40240458, 15.6939736 , 11.03541329,  4.6015822 , 14.73479529,
       13.6414471 , 12.88778049,  6.91544981, 10.83212461, 10.05892275,
        6.71351641, 14.31850739, 14.12854259, 10.85721017, 14.70692441,
       17.42088255, 20.09725726, 16.27917559, 14.22996611, 15.53126197,
        8.31266459, 12.99930839, 13.21875205, 11.0989765 , 11.6516176 ,
       14.29059718, 10.12793824, 14.56706787,  9.02098148,  7.41494792,
       15.92572542, 11.11729372, 14.67652528, 17.84448664, 13.63618408])

In [54]:
DataFrame({'Linear':lm_pred, 'Ridge':ridge_pred, 'Lasso':lasso_pred})

        Linear      Ridge      Lasso
0    16.396962  15.751096  15.360323
1    15.769741  15.730104  15.889163
2    10.202518  10.144685  10.261124
3     3.123001   3.769587   3.830886
4    15.188599  15.193907  15.305466
5     6.590855   7.142184   7.411994
6    15.625801  15.536434  15.898339
7    10.562924  10.702578  10.490528
8    15.876530  15.310680  14.660730
9    12.319607  12.450379  12.275777
10    9.380971  10.152863  10.209573
11   14.846149  15.271741  15.436441
12   11.188328  11.608254  11.760099
13   13.668304  13.674201  13.524736
14   13.431772  13.533450  13.641083
15   18.241058  18.173002  18.167084
16   10.015601  10.379187  10.251054
17   15.916346  15.798291  15.568599
18   13.754284  13.960757  14.013954
19   13.870109  13.978510  14.105380
20   22.620085  22.229738  22.177213
21   17.466146  17.361712  17.837213
22   11.663364  12.246942  12.274227
23   14.861251  14.907097  14.909285
24    9.460588   9.756495   9.769037
25   10.981107  10.978974  10.706780
26   13.073238  13.119531  13.061135
27   19.480641  19.348565  19.580772
28   11.976507  12.155772  12.395415
29   16.593327  16.958564  17.037889
..         ...        ...        ...
270  13.494545  13.528468  13.641447
271  12.718387  12.889184  12.887780
272   6.316509   6.920642   6.915450
273  10.274757  10.921153  10.832125
274   9.591844   9.997440  10.058923
275   6.083857   6.594578   6.713516
276  14.183711  14.218806  14.318507
277  13.885909  13.957428  14.128543
278  10.678763  11.031916  10.857210
279  14.651331  14.699345  14.706924
280  17.214887  17.381733  17.420883
281  20.286452  20.049214  20.097257
282  16.314097  16.445913  16.279176
283  14.319933  14.248521  14.229966
284  16.341001  15.834457  15.531262
285   7.810386   8.247017   8.312665
286  12.672715  12.844714  12.999308
287  13.374095  13.546628  13.218752
288  10.807174  11.060734  11.098977
289  11.791149  11.856600  11.651618
290  14.468990  14.402687  14.290597
291   9.591127   9.836718  10.127938
292  14.538892  14.601503  14.567068
293   9.330820   9.437499   9.020981
294   6.705755   7.246797   7.414948
295  15.518911  15.717918  15.925725
296  11.070966  11.147079  11.117294
297  14.475377  14.563941  14.676525
298  17.829451  17.666528  17.844487
299  13.071562  13.214539  13.636184

[300 rows x 3 columns]

- If you have too many columns, use LASSO since it will reduce dimensions (remove insignificant columns)
- If you don't have too many columns, use Ridge since it will not remove but just shrink the insignificant variables
- usually expect $num\_rows = (num\_col)^3$
- if rows less than expected then we want to reduce dimesnions so use LASSO,
- else use Ridge